html, body {
    margin: 0; 
    padding: 0;
    width: 400px;
    height: 600px;
    background-color: #5E7569;
    box-sizing: border-box;
    color:white;
}

#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    padding: 1rem;
}

#title {
    font-family: "Anton";
    font-size: 40px;
    text-align: center;
    box-sizing: border-box;
}

#options {
    display: flex;
    flex-direction: column;
    height: 60%;
    font-size: 20px;
    justify-content: space-evenly;
    justify-items: center;
    align-items: flex-end;
    box-sizing: border-box;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    box-sizing: border-box;
    margin-right: 10px;
}

input {
    display: inline-block;
    width: 120px;
    justify-content: flex-start;
    box-sizing: border-box;
}

select {
    display: inline-block;
    width: 120px;
    text-align: center;
    box-sizing: border-box;
    color:#75645E;
}

#button {
    display: flex;
    width: 45%;
    height: 10%;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.orange-btn { 
    color:white;
    background-color: #F57949;
    font-size: 17px;
    box-sizing: border-box;
    padding: 15px;

}
